@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "NotFound";
}

 <!-- Error Section-->
<section class="error">
    <div class="container">
        <div class="error-img">
            <img src="~/assets/img/Error-Page.png" alt="" class=" wow fadeInRight" data-wow-delay=".5s">

            <h1 class=" wow fadeInUp" data-wow-delay="1.2s">Sorry We Can't Find That Page!</h1>

            <a asp-controller="Home" asp-action="Index" class="btn-2 wow fadeInUp" data-wow-delay="1.5s">Back to Home Page</a>

        </div>
    </div>
</section>
<!-- /Error Section-->